
<h1>Edit Job</h1>

<%= form_for(@job) do |form| %>
  <%= error_messages_for(@job) %>
  <%= hidden_field_tag :key, @job.key %>
  <%= render :partial => 'form_fields', :locals => {:form => form} %>

  <p class='form_control'>
    <%= form.submit "Update Job >>" %>
  </p>
<% end %>

<%= form_for(@job, method: "delete", html: {:onsubmit => "return confirm('Are you sure?');" }) do |form| %>
   <%= hidden_field_tag :key, @job.key %>

  <p class='form_control'>
    <%= form.submit "Delete Job"  %>
  </p>


<% end %>

